.new-message {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  &__input {
    width: calc(100% - 200px);
    padding: 8px 10px;
    font-size: 14px;
    border: 3px solid $grey-color;
    border-radius: 10px;
    outline: none;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-grey-color;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $light-grey-color;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $light-grey-color;
    }

    @media screen and (max-width: 768px){
      & {
        width: 80%;
      }
    }
  }

  &__button {
    width: 120px;
    font-size: 14px;
    background: $grey-color;
    border: 3px solid $grey-color;
    color: $white-color;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;

    @media screen and (max-width: 768px){
      & {
        display: none;
      }
    }
  }
}