@import "variables.scss";
@import "chat.scss";
@import "sidebar.scss";
@import "add-new-message";
@import "login";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.app {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  position: relative;
  @media screen and (max-width: 768px){
    & {
      display: block;
    }
  }

  &__chatbox {
    position: relative;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    background: $background;
    @media screen and (max-width: 768px){
      & {
        width: 100%;
      }
    }
  }
}


