.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__input {
    width: 240px;
    border: none;
    border-bottom: 3px solid $blue-color;
    outline: none;
    font-size: 16px;
    padding: 5px;
  }
  &__error {
    color: $error-color;
    margin-top: 10px;
  }
}